a.ext {
  &:after {
    content: '\2197';
  }
}

.home-header {
  height: 768px;
  letter-spacing: 1px;

  .title {
    font-weight: 900;
    font-size: 4rem;
    text-transform: uppercase;
  }

  .subtitle {
    font-weight: 400;
  }
}

article {
  .article-heading {
    & > .article-heading-anchor {
      display: inline;
      opacity: 0;
      transition: $transition-normal;
    }

    &:hover {
      & > .article-heading-anchor {
        opacity: 0.5;
      }
    }
  }

  a.footnote-ref {
    display: inline-block;
    min-width: 24px;
    padding: 0 4px;
    margin: 0 4px;
    border: 1px solid $color-text-dark-1;
    text-align: center;
    line-height: 1.25;
    transition: $transition-normal;

    &:hover {
      background-color: $color-text-dark-1;
      color: $color-text-light-1;
    }
  }

  a.footnote-backref {
    color: $color-primary-3;
  }

  .other-articles {
    p {
      margin: unset;
      font-family: unset;
    }
  }

  .footnotes {
    font-size: 1rem;

    & > hr {
      display: none;
    }

    & > ol > li > p {
      padding: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.mw-0 {
  min-width: 0;
}

.article-heading-anchor {
  display: none;
}

.dark {
  article {
    a.footnote-ref {
      border-color: $color-text-light-1;
      color: $color-text-light-1;

      &:hover {
        background-color: $color-text-light-1;
        color: $color-text-dark-1;
      }
    }

    a.footnote-backref {
      color: $color-accent-light;
    }
  }
}
