header.main {
  width: 100%;
  letter-spacing: 1px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-transform: uppercase;
  }

  .title {
    font-weight: 900;
    font-size: 4rem;
  }

  .subtitle {
    font-weight: 400;
  }
}

article {
  .other-articles {
    p {
      margin: unset;
      font-family: unset;
    }
  }

  .footnotes {
    font-size: 1rem;

    & > hr {
      display: none;
    }

    & > ol > li > p {
      padding: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
