.home-header {
  height: 768px;
  letter-spacing: 1px;

  .title {
    font-weight: 900;
    font-size: 4rem;
    text-transform: uppercase;
  }

  .subtitle {
    font-weight: 400;
  }
}

article {
  .article-heading {
    & > .article-heading-anchor {
      display: inline;
      opacity: 0;
      transition: $transition-normal;
    }

    &:hover {
      & > .article-heading-anchor {
        opacity: 0.5;
      }
    }
  }

  .other-articles {
    p {
      margin: unset;
      font-family: unset;
    }
  }

  .footnotes {
    font-size: 1rem;

    & > hr {
      display: none;
    }

    & > ol > li > p {
      padding: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.mw-0 {
  min-width: 0;
}

.article-heading-anchor {
  display: none;
}
