{{ define "main" }}
  <section>
    <article>
      <h1 class="title">{{.Title}}</h1>
      <h3 class="subtitle">{{.Params.description}}</h3>
      <span class="info">
        {{ with .Params.author }}
        {{ $author := index $.Site.Data.authors . }}
        {{$author.name}} &middot;
        {{ end }}
        <span class="tooltip">
          {{ dateFormat "Mon, Jan 2, 2006" .Date }}
          {{ with .Lastmod }}
          <span class="text top">
            Last modified {{ dateFormat "2006-01-02" . }}
          </span>
          {{ end }}
        </span>
        &middot;
        <span class="tooltip">
          {{.ReadingTime}} min read
          {{ with .WordCount }}
          <span class="text top">
            {{.}} Words
          </span>
          {{ end }}
        </span>
      </span>
      <span class="info">
        <a class="text" target="_blank" rel="noopener noreferrer" href="{{.Permalink}}"><i class="fa fa-fw fa-link"></i> Permalink</a>
        {{ with .Params.projecturl }}&middot; <a class="text" target="_blank" rel="noopener noreferrer" href="{{.}}"><i class="fa fa-fw fa-code-fork"></i> Repo</a>{{ end }}
      </span>
      {{.Content}}
      <span class="info">
        <i class="fa fa-fw fa-tags"></i>
        {{ range .Params.tags }}
        <a href='{{ "/tags/" | relURL }}{{ . | urlize }}'>
          <span class="chip">{{ . }}</span>
        </a>
        {{ end }}
      </span>
      <hr />
      {{ with .Params.author }}
      {{ $author := index $.Site.Data.authors . }}
      <div>
        <div class="grid strict nowrap align-center author">
          {{ if $author.image }}
          <div class="col image" style="flex-shrink: 0;">
            <div class="img sized fill circle loaded">
              <div class="inner">
                <img class="image" src='{{$author.image | relURL}}' />
              </div>
            </div>
          </div>
          {{ end }}
          <div class="col description">
            <h4 class="name">{{$author.name}}</h4>
            <div class="bio">{{$author.bio}}</div>
          </div>
        </div>
      </div>
      {{ end }}
      <section class="other-articles">
        <div class="grid">
          <div class="col xs-12">
            {{ with .PrevInSection }}
            <div>
              <a href="{{.RelPermalink}}">
                <h6><i class="fa fa-fw fa-chevron-left"></i> Prev</h6>
                <h4>
                  {{.Title}}
                </h4>
                <p>
                  {{.Params.description}}
                </p>
              </a>
            </div>
            {{end}}
          </div>
          <div class="col xs-12">
            {{ with .NextInSection }}
            <div>
              <a href="{{.RelPermalink}}" class="text-right">
                <h6>Next <i class="fa fa-fw fa-chevron-right"></i></h6>
                <h4>
                  {{.Title}}
                </h4>
                <p>
                  {{.Params.description}}
                </p>
              </a>
            </div>
            {{end}}
          </div>
        </div>
      </section>
    </article>
  </section>
{{ end }}
