{{ define "main" }}
  <div class="container padded narrow">
    <section>
      <h2>Tags</h2>
      <div class="grid align-flex-start">
        {{ range $key, $value := .Data.Terms.ByCount }}
        <div class="col sm-8 md-6">
          <a href='{{ "/tags/" | relURL }}{{ $value.Name | urlize }}'>
            <div class="card">
              <div class="body">
                <div class="container padded">
                  {{ $value.Name }}
                </div>
              </div>
            </div>
          </a>
        </div>
        {{ end }}
      </div>
    </section>
  </div>
{{ end }}
