<div class="grid">
  {{ range where .Data.Pages "Section" "blog" }}
    <div class="col md-12">
      <a class="no-style" href="{{.RelPermalink}}">
        <h3>{{.Title}}</h3>
      </a>
      <a class="no-style" href="{{.RelPermalink}}">
        <div>
          <p>
            {{.Params.description}}
          </p>
        </div>
      </a>
      <div>
        <span class="tooltip-parent">
          {{ with .Lastmod }}
            <span class="tooltip top">
              Last modified {{ dateFormat "2006-01-02" . }}
            </span>
          {{ end }}
          {{ dateFormat "Mon, Jan 2, 2006" .Date }}
        </span>
        &middot;
        <span class="tooltip-parent">
          {{ with .WordCount }}
            <span class="tooltip top">
              {{.}} Words
            </span>
          {{ end }}
          {{.ReadingTime}} min read
        </span>
      </div>
    </div>
  {{ end }}
</div>
