<a href="{{.RelPermalink}}">
  <h3>{{.Title}}</h3>
</a>
<a href="{{.RelPermalink}}">
  <div>
    <p>
      {{.Params.description}}
    </p>
  </div>
</a>
<div>
  <span class="tooltip">
    {{ dateFormat "Mon, Jan 2, 2006" .Date }}
    {{ with .Lastmod }}
    <span class="text top">
      Last modified {{ dateFormat "2006-01-02" . }}
    </span>
    {{ end }}
  </span>
  &middot;
  <span class="tooltip">
    {{.ReadingTime}} min read
    {{ with .WordCount }}
    <span class="text top">
      {{.}} Words
    </span>
    {{ end }}
  </span>
</div>
