<div class="home-header">
  {{ $background := $.Site.Params.headerbackground }}
  <div class="img sized fill{{ if $background }} dark{{ end }} loaded">
    <div class="inner">
      {{ with $.Site.Params.author }}
      {{ $author := index $.Site.Data.authors . }}
      <div class="children">
        <div class="container fill padded narrow">
          <div class="grid fill align-center">
            <header>
              <h1 class="title">{{$author.name}}</h1>
              <h4 class="subtitle">{{$author.tagheader}}</h4>
              <div>{{$author.employment}}</div>
              <div>{{$author.location}}</div>
            </header>
          </div>
        </div>
      </div>
      {{ end }}
      {{ with $background }}
      <img class="image" src="{{.}}">
      {{ end }}
    </div>
  </div>
</div>
