<nav>
  <div class="container fill nav-container">
    <div class="grid fill justify-space-between nav-elements">
      <div class="col element">
        <div class="grid strict fill nav-items">
          <a class="nav-item" href='{{"/" | relURL}}'>Home</a>
          <a class="nav-item" href='{{"blog" | relURL}}'>Blog</a>
        </div>
      </div>
      <div class="col element">
        <div class="grid strict fill nav-items">
          <div class="col nav-item" onclick="darkModeToggle()">
            <i class="fa fa-lg fa-moon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
