<script>
  const darkModeClassname = 'dark';
  const darkModeStorageId = 'dark-mode';
  const darkModeStorageEnable = 'enabled';
  const darkModeStorageDisable = 'disabled';

  const setDarkMode = (dark) => {
    if (dark) {
      document.body.classList.add(darkModeClassname);
    } else {
      document.body.classList.remove(darkModeClassname);
    }
    window.localStorage.setItem(darkModeStorageId, dark ? darkModeStorageEnable : darkModeStorageDisable);
  };

  let darkModeState = false;
  if (window.localStorage.getItem(darkModeStorageId) === darkModeStorageEnable) {
    darkModeState = true;
  }
  setDarkMode(darkModeState);

  const darkModeToggle = (event) => {
    darkModeState = !darkModeState;
    setDarkMode(darkModeState);
  };
</script>
